*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

header{
  position: relative;
}

nav{
  height: 53px;
  background-color: #212121;
}

.menu{
  display: flex;
  justify-content: space-between;
  padding: 17px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link{
  color: #FFF;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px; /* 100% */
  text-decoration: none;
}
.menu .menu_link:hover{
  text-decoration:underline
}
.menu .menu_item{
  border-right: 2px dotted #000000;
  padding-right: 32px;
}
.menu .menu_item:last-child{
  border-right:none
}
.sub_header{
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
}
.uber{
  display: block;
  margin-top: 19px;
  max-width: 100%;
}
.Uber_text{
  margin-top: 6px;
  color: #FFF;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 100;
  opacity: 0.5;
}
.subheader_call{
  margin-top: 19px;
  color: #FFF;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px; /* 116.667% */
  }
  .subheader_phone{
    display: block;
    color: #FFF;
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader_btn{
    margin-top: 19px;
    width: 172px;
    height: 46px;
    border-radius: 4px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.21);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }

  .promo{
    padding: 152px 0 185px 0;
    min-height: 800px;
    background:url('/imgs/backgrounds/uber_bg.png') center center/cover no-repeat
  }

  .promo_title{
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 60px
  }
  .promo_subtitle{
    margin-top: 22px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px
  }
  .promo_text{
    margin-top: 16px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }
  .promo_btn{
    display: block;
    margin: 116px auto 0 auto ;
    width: 211px;

    border-radius: 4px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.21);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 63px; /* 350% */
    text-transform: uppercase;
      }
 
  .coockie{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 113px;
    height: 24px;  
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    background-color: black;

  }
  
  .things_work{
    margin: 0 auto;
    margin-top: 33px;
    color: #222;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;

  }
  .things{
    min-height: 864px;
  }
  .icon_item{
    display: flex;
    max-width: 371px;
    margin-bottom: 26px;
    align-items: center
  }
  .rectangle{

    min-width: 116px;
    height: 116px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    background-color: #1EACC7;
  }
  .icon_descr{
    line-height: 21px;
      min-width: 371px;
      color: #202020;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      
  }
  
 .row .icon_item span{
  color: #1EACC7;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 123.529% */
 }
 .things_work{
  margin-bottom: 16px;
 }